.Player {
	position: absolute;
	top: 0;
	left: 0;
	width: 5em;
	height: 5em;
	background: #FF00FF;
	border-radius: 20em;
}

.Player-wing {
	position: absolute;
	left: 1em;
	top: 2.5em;
	height: 1.5em;
	width: 2em;

	background: yellow;
	transform-origin: top left;
	-webkit-animation: flap 0.4s alternate infinite;
	-moz-animation: flap 0.4s alternate infinite;
	-ms-animation: flap 0.4s alternate infinite;
	-o-animation: flap 0.4s alternate infinite;
	animation: flap 0.4s alternate infinite;
}

.Scoreboard {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	background: purple;
	text-align: center;
	-webkit-transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
}

.Ground {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 105.4em;
	height: 3em;
	background: url(../../app/images/ground_grass.jpg) bottom left repeat-x;
	background-size: contain;
	-webkit-animation: animateGround 0.4s linear infinite;
	-moz-animation: animateGround 0.4s linear infinite;
	-ms-animation: animateGround 0.4s linear infinite;
	-o-animation: animateGround 0.4s linear infinite;
	animation: animateGround 0.4s linear infinite;
}


/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
}

.Scoreboard-restart {
	margin-top: 20em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid white;
	background: none;
	cursor: pointer;
}
.Scoreboard-restartText {
font-family: 'Comic Sans MS', serif;
font-size: 2.4em;
color: white;
}
body {
background: black;
}
.browsehappy {
margin: 0.2em 0;
background: ?#?ccc?;
color: #000;
padding: 0.2em 0;
}
.GameCanvas {
font-size: 10px;
position: absolute;
left: 50%;
top: 50%;
width: 102.4em;
height: 57.6em;
margin-left: -51.2em;
margin-top: -28.8em;
overflow: hidden;
background: #00CCFF;
}


@-webkit-keyframes flap {
	from {
		-webkit-transform:  rotateX(0);

	}
	to {
		-webkit-transform: rotateX(180deg);
	}
}
@-moz-keyframes flap {
	from {
		-moz-transform: rotateX(0);

	}
	to {
		-moz-transform: rotateX(180deg);
	}
}

@-ms-keyframes flap {
	from {
		-ms-transform: rotateX(0);

	}
	to {
		-ms-transform: rotateX(180deg);
	}
}

@-o-keyframes flap {
	from {
		-o-transform: rotateX(0);

	}
	to {
		-o-transform: rotateX(180deg);
	}
}

@keyframes flap {
	from {
		transform: rotateX(0);

	}
	to {
		transform: rotateX(180deg);
	}
}


@-webkit-keyframes animateGround {
	from {
		-webkit-transform: translate3d(0, 0, 0);

	}
	to {
		-webkit-transform: translate3d(-3em, 0, 0);
	}
}
@-moz-keyframes animateGround {
	from {
		-moz-transform: translate3d(0, 0, 0);

	}
	to {
		-moz-transform: translate3d(-3em, 0, 0);
	}
}

@-ms-keyframes animateGround {
	from {
		-ms-transform: translate3d(0, 0, 0);

	}
	to {
		-ms-transform: translate3d(-3em, 0, 0);
	}
}

@-o-keyframes animateGround {
	from {
		-o-transform: translate3d(0, 0, 0);

	}
	to {
		-o-transform: translate3d(-3em, 0, 0);
	}
}

@keyframes animateGround {
	from {
		transform: translate3d(0, 0, 0);

	}
	to {
		transform: translate3d(-3em, 0, 0);
	}
}